<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="biped_bike_robot_print_ver6">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.066549 -0.076779 0.018299"
        rpy="0 0 0" />
      <mass
        value="0.62617" />
      <inertia
        ixx="0.00052521"
        ixy="-6.862E-09"
        ixz="-1.6387E-05"
        iyy="0.00032978"
        iyz="-3.1717E-08"
        izz="0.00052273" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="l_hip_yaw">
    <inertial>
      <origin
        xyz="-0.0138 6.382E-10 -0.013274"
        rpy="0 0 0" />
      <mass
        value="0.02669" />
      <inertia
        ixx="4.5719E-06"
        ixy="1.5266E-12"
        ixz="-2.9972E-07"
        iyy="3.7583E-05"
        iyz="1.3861E-14"
        izz="3.7244E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_hip_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_hip_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="l_hip_yaw_jnt"

    type="revolute">
    <origin
      xyz="-0.01525 -0.01425 0.0026"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="l_hip_yaw" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="l_hip_roll">
    <inertial>
      <origin
        xyz="-0.012167 -0.00018746 0.046558"
        rpy="0 0 0" />
      <mass
        value="0.11819" />
      <inertia
        ixx="2.002E-05"
        ixy="-2.5073E-07"
        ixz="2.5101E-07"
        iyy="2.6548E-05"
        iyz="-1.0504E-08"
        izz="3.2975E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_hip_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_hip_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="l_hip_roll_jnt"

    type="revolute">
    <origin
      xyz="-0.0594 0 -0.0376"
      rpy="0 -1.5708 3.14159" />
    <parent
      link="l_hip_yaw" />
    <child
      link="l_hip_roll" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="l_hip_pitch">
    <inertial>
      <origin
        xyz="-1.1102E-16 0.0295 -0.0209"
        rpy="0 0 0" />
      <mass
        value="0.014036" />
      <inertia
        ixx="9.6249E-06"
        ixy="-9.4523E-21"
        ixz="4.9468E-22"
        iyy="7.4429E-06"
        iyz="-5.5897E-21"
        izz="3.251E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_hip_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_hip_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="l_hip_pitch_jnt"

    type="revolute">
    <origin
      xyz="-0.024 -0.0209 0.0614"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="l_hip_roll" />
    <child
      link="l_hip_pitch" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="l_knee_pitch">
    <inertial>
      <origin
        xyz="0.016601 0.023502 -0.020593"
        rpy="0 0 0" />
      <mass
        value="0.14629" />
      <inertia
        ixx="7.0785E-05"
        ixy="6.6248E-06"
        ixz="-1.0468E-08"
        iyy="4.6844E-05"
        iyz="5.1101E-07"
        izz="5.4874E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_knee_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_knee_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="l_knee_pitch_jnt"

    type="revolute">
    <origin
      xyz="0 0.059 0"
      rpy="0 0 0" />
    <parent
      link="l_hip_pitch" />
    <child
      link="l_knee_pitch" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="l_ankle_pitch">
    <inertial>
      <origin
        xyz="-0.01485 0.011601 -0.020714"
        rpy="0 0 0" />
      <mass
        value="0.11819" />
      <inertia
        ixx="3.2975E-05"
        ixy="-2.5109E-07"
        ixz="-2.0538E-11"
        iyy="2.002E-05"
        iyz="2.6018E-07"
        izz="2.6548E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_ankle_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_ankle_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="l_ankle_pitch_jnt"

    type="revolute">
    <origin
      xyz="-0.003 0.1125 0"
      rpy="0 0 0" />
    <parent
      link="l_knee_pitch" />
    <child
      link="l_ankle_pitch" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="l_foot_roll">
    <inertial>
      <origin
        xyz="-0.050982 2.7756E-16 0.058939"
        rpy="0 0 0" />
      <mass
        value="0.074723" />
      <inertia
        ixx="0.00015126"
        ixy="-1.6535E-19"
        ixz="5.9432E-06"
        iyy="0.00014234"
        iyz="1.4812E-19"
        izz="3.6526E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_foot_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_foot_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="l_foot_roll_jnt"

    type="revolute">
    <origin
      xyz="-0.0614 0 -0.0209"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="l_ankle_pitch" />
    <child
      link="l_foot_roll" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="l_knee_pitch_wheel">
    <inertial>
      <origin
        xyz="3.3487E-13 -6.9322E-13 0.017202"
        rpy="0 0 0" />
      <mass
        value="0.016569" />
      <inertia
        ixx="4.4099E-06"
        ixy="-3.0656E-13"
        ixz="-9.7597E-18"
        iyy="4.4099E-06"
        iyz="3.4771E-17"
        izz="6.9878E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_knee_pitch_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/l_knee_pitch_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="l_knee_pitch_wheel_jnt"

    type="continuous">
    <origin
      xyz="0.041 0 0"
      rpy="0 0 0" />
    <parent
      link="l_knee_pitch" />
    <child
      link="l_knee_pitch_wheel" />
    <axis
      xyz="0 0 -1" />
    <limit
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="r_hip_yaw">
    <inertial>
      <origin
        xyz="-0.0138 6.382E-10 -0.013274"
        rpy="0 0 0" />
      <mass
        value="0.02669" />
      <inertia
        ixx="4.5719E-06"
        ixy="1.5266E-12"
        ixz="-2.9972E-07"
        iyy="3.7583E-05"
        iyz="1.3861E-14"
        izz="3.7244E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_hip_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_hip_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="r_hip_yaw_jnt"

    type="revolute">
    <origin
      xyz="-0.01525 -0.13925 0.0026"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="r_hip_yaw" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="r_hip_roll">
    <inertial>
      <origin
        xyz="-0.012165 -0.00018769 0.046558"
        rpy="0 0 0" />
      <mass
        value="0.11819" />
      <inertia
        ixx="2.002E-05"
        ixy="-2.5141E-07"
        ixz="2.5107E-07"
        iyy="2.6548E-05"
        iyz="-1.0511E-08"
        izz="3.2975E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_hip_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_hip_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="r_hip_roll_jnt"

    type="revolute">
    <origin
      xyz="-0.0594 0 -0.0376"
      rpy="0 -1.5708 3.14159" />
    <parent
      link="r_hip_yaw" />
    <child
      link="r_hip_roll" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="r_hip_pitch">
    <inertial>
      <origin
        xyz="-2.7756E-17 0.0295 -0.0209"
        rpy="0 0 0" />
      <mass
        value="0.014036" />
      <inertia
        ixx="9.6249E-06"
        ixy="-9.6068E-21"
        ixz="-1.1032E-21"
        iyy="7.4429E-06"
        iyz="-5.56E-21"
        izz="3.251E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_hip_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_hip_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="r_hip_pitch_jnt"

    type="revolute">
    <origin
      xyz="-0.024 -0.0209 0.0614"
      rpy="1.5708 -1.5708 0" />
    <parent
      link="r_hip_roll" />
    <child
      link="r_hip_pitch" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="r_knee_pitch">
    <inertial>
      <origin
        xyz="0.016601 0.02357 -0.020593"
        rpy="0 0 0" />
      <mass
        value="0.14629" />
      <inertia
        ixx="7.0785E-05"
        ixy="6.6248E-06"
        ixz="-1.0468E-08"
        iyy="4.6844E-05"
        iyz="5.1101E-07"
        izz="5.4874E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_knee_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_knee_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="r_knee_pitch_jnt"

    type="revolute">
    <origin
      xyz="0 0.059 0"
      rpy="0 0 0" />
    <parent
      link="r_hip_pitch" />
    <child
      link="r_knee_pitch" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="r_ankle_pitch">
    <inertial>
      <origin
        xyz="-0.01285 0.011851 -0.020714"
        rpy="0 0 0" />
      <mass
        value="0.11819" />
      <inertia
        ixx="3.2975E-05"
        ixy="-2.5109E-07"
        ixz="-2.0538E-11"
        iyy="2.002E-05"
        iyz="2.6018E-07"
        izz="2.6548E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_ankle_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_ankle_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="r_ankle_pitch_jnt"

    type="revolute">
    <origin
      xyz="-0.005 0.1125 0"
      rpy="0 0 0" />
    <parent
      link="r_knee_pitch" />
    <child
      link="r_ankle_pitch" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="r_foot_roll">
    <inertial>
      <origin
        xyz="-0.050982 2.9143E-16 0.058939"
        rpy="0 0 0" />
      <mass
        value="0.074723" />
      <inertia
        ixx="0.00015126"
        ixy="-1.766E-19"
        ixz="5.9432E-06"
        iyy="0.00014234"
        iyz="8.7547E-20"
        izz="3.6526E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_foot_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_foot_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="r_foot_roll_jnt"

    type="revolute">
    <origin
      xyz="-0.0594 0.00025 -0.0209"
      rpy="-1.5708 0 -1.5708" />
    <parent
      link="r_ankle_pitch" />
    <child
      link="r_foot_roll" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="r_knee_pitch_wheel">
    <inertial>
      <origin
        xyz="3.6692E-13 6.7643E-13 -0.059002"
        rpy="0 0 0" />
      <mass
        value="0.016569" />
      <inertia
        ixx="4.4099E-06"
        ixy="1.6394E-13"
        ixz="1.1376E-17"
        iyy="4.4099E-06"
        iyz="3.427E-17"
        izz="6.9878E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_knee_pitch_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/r_knee_pitch_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="r_knee_pitch_wheel_jnt"

    type="continuous">
    <origin
      xyz="0.041 0 0"
      rpy="0 0 0" />
    <parent
      link="r_knee_pitch" />
    <child
      link="r_knee_pitch_wheel" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="arm_base_yaw">
    <inertial>
      <origin
        xyz="-0.00017614 0.000428 0.026853"
        rpy="0 0 0" />
      <mass
        value="0.052551" />
      <inertia
        ixx="1.204E-05"
        ixy="-5.2331E-09"
        ixz="-4.4078E-09"
        iyy="1.1587E-05"
        iyz="-2.555E-07"
        izz="8.5755E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/arm_base_yaw.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/arm_base_yaw.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="arm_base_yaw_jnt"

    type="revolute">
    <origin
      xyz="-0.01505 -0.07695 0.0444"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="arm_base_yaw" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="arm_shoulder_pitch">
    <inertial>
      <origin
        xyz="0.01169 -0.10577 -0.02048"
        rpy="0 0 0" />
      <mass
        value="0.10542" />
      <inertia
        ixx="0.00013648"
        ixy="-6.9182E-07"
        ixz="-2.5802E-07"
        iyy="2.5185E-05"
        iyz="2.1076E-07"
        izz="0.00013022" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/arm_shoulder_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/arm_shoulder_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="arm_shoulder_pitch_jnt"

    type="revolute">
    <origin
      xyz="-0.0002 0.0209 0.04235"
      rpy="-1.5708 0 0" />
    <parent
      link="arm_base_yaw" />
    <child
      link="arm_shoulder_pitch" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-2.0944"
      upper="3.14159"
      effort="4.1"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="arm_elbow_pitch">
    <inertial>
      <origin
        xyz="0.08867 0.00019107 -0.020706"
        rpy="0 0 0" />
      <mass
        value="0.043796" />
      <inertia
        ixx="7.4778E-06"
        ixy="-2.5628E-08"
        ixz="2.6654E-09"
        iyy="4.5439E-05"
        iyz="8.2891E-11"
        izz="4.0812E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/arm_elbow_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/arm_elbow_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="arm_elbow_pitch_jnt"

    type="revolute">
    <origin
      xyz="0.0415 -0.11315 0.0002"
      rpy="0 0 1.5708" />
    <parent
      link="arm_shoulder_pitch" />
    <child
      link="arm_elbow_pitch" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="arm_wrist_pitch">
    <inertial>
      <origin
        xyz="0.025146 -0.0066442 -0.014696"
        rpy="0 0 0" />
      <mass
        value="0.019754" />
      <inertia
        ixx="2.8794E-06"
        ixy="6.5753E-08"
        ixz="-8.4019E-11"
        iyy="1.6045E-06"
        iyz="-1.3786E-09"
        izz="2.1038E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/arm_wrist_pitch.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/arm_wrist_pitch.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="arm_wrist_pitch_jnt"

    type="revolute">
    <origin
      xyz="0.14632 0 -0.006"
      rpy="0 0 0" />
    <parent
      link="arm_elbow_pitch" />
    <child
      link="arm_wrist_pitch" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <link
    name="arm_wrist_roll">
    <inertial>
      <origin
        xyz="-0.022797 0.00064386 0.00038229"
        rpy="0 0 0" />
      <mass
        value="0.039491" />
      <inertia
        ixx="6.6106E-06"
        ixy="4.269E-08"
        ixz="4.9165E-08"
        iyy="1.0941E-05"
        iyz="1.4892E-08"
        izz="9.0859E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/arm_wrist_roll.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://biped_bike_robot/meshes/arm_wrist_roll.STL" />
      </geometry>
    </collision>
  </link>
  <joint

    name="arm_wrist_roll_jnt"

    type="revolute">
    <origin
      xyz="0.0432 -0.015 -0.0147"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="arm_wrist_pitch" />
    <child
      link="arm_wrist_roll" />
    <axis
      xyz="1 0 0" />
    <limit
      lower="-3.14159"
      upper="3.14159"
      effort="1.5"
      velocity="6.38" />
    <dynamics
      damping="0.1"
      friction="0.1" />
  </joint>
  <gazebo reference="base_link">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="l_hip_yaw">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="l_hip_roll">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="l_hip_pitch">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="l_knee_pitch">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="l_ankle_pitch">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="l_foot_roll">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="l_knee_pitch_wheel">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="r_hip_yaw">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="r_hip_roll">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="r_hip_pitch">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="r_knee_pitch">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="r_ankle_pitch">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="r_foot_roll">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="r_knee_pitch_wheel">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="arm_base_yaw">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="arm_shoulder_pitch">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="arm_elbow_pitch">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="arm_wrist_pitch">
    <self_collide>true</self_collide>
  </gazebo>
  <gazebo reference="arm_wrist_roll">
    <self_collide>true</self_collide>
  </gazebo>
  <ros2_control name="GazeboSystem" type="system">
    <hardware>
      <plugin>gz_ros2_control/GazeboSimSystem</plugin>
    </hardware>
    <joint name="l_hip_yaw_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="l_hip_roll_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="l_hip_pitch_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="l_knee_pitch_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="l_ankle_pitch_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="l_foot_roll_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="l_knee_pitch_wheel_jnt">
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="r_hip_yaw_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="r_hip_roll_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="r_hip_pitch_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="r_knee_pitch_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="r_ankle_pitch_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="r_foot_roll_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="r_knee_pitch_wheel_jnt">
      <command_interface name="velocity"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="arm_base_yaw_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="arm_shoulder_pitch_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="arm_elbow_pitch_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="arm_wrist_pitch_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
    <joint name="arm_wrist_roll_jnt">
      <command_interface name="position"/>
      <state_interface name="position">
        <param name="initial_value">0.0</param>
      </state_interface>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
    </joint>
  </ros2_control>
  <gazebo>
    <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(find biped_bike_robot)/config/controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>
